.gradient-custom {
    /* fallback for old browsers */
    background: #c1dfc4;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(193, 223, 196, 0.5), rgba(222, 236, 221, 0.5));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(193, 223, 196, 0.5), rgba(222, 236, 221, 0.5))
}

.gradient-custom2 {
    /* fallback for old browsers */
    background: #fff1eb;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(255, 241, 235, 0.5), rgba(172, 224, 249, 0.5));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(255, 241, 235, 0.5), rgba(172, 224, 249, 0.5))
}

.gradient-custom3 {
    /* fallback for old browsers */
    background: #fff1eb;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(255, 241, 235, 0.89), rgb(121, 189, 222));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(255, 241, 235, 0.85), rgb(121, 189, 222))
}

.bg{
    background-image: url("img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
    padding-top: 13rem;
    padding-bottom: 13rem;
}